@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-100: #e2e2e2;
  --grey-200: #c7c7c7;
  --grey-grid-100: #cccccc;
  --blue-100: #56c3e0;
  --blue-200: #1E90FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Ubuntu", "Roboto", Arial, Helvetica, sans-serif;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.text-blue-100 {
  color: var(--blue-100);
}
